@{Layout = "~/Views/Shared/_LayoutWithContiner.cshtml";}

@model MES_MVC.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}

<div class="accountHeader">
    <h2>@ViewBag.Title</h2>
</div>
@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <h4>Reset your password.</h4>
    @Html.HiddenFor(model => model.Code)
   
    @Html.DevExpress().TextBoxFor(m => m.Email, s => {
        s.Properties.Caption = "Email";
        s.Properties.CaptionSettings.Position = EditorCaptionPosition.Top;
        s.ShowModelErrors = true;
        s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
    }).GetHtml()
    @Html.DevExpress().TextBoxFor(m => m.Password, s => {
       s.Properties.Caption = "Password";
       s.Properties.Password = true;
       s.Properties.CaptionSettings.Position = EditorCaptionPosition.Top;
       s.ShowModelErrors = true;
       s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
    }).GetHtml()
    @Html.DevExpress().TextBoxFor(m => m.ConfirmPassword, s => {
        s.Properties.Caption = "Confirm Password";
        s.Properties.Password = true;
        s.Properties.CaptionSettings.Position = EditorCaptionPosition.Top;
        s.ShowModelErrors = true;
        s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
    }).GetHtml()
    <br />
    @Html.DevExpress().Button(s => {
        s.Name = "Reset";
        s.Text = "Reset";
        s.UseSubmitBehavior = true;
    }).GetHtml()
}